In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 2.4 MB/s eta 0:00:07
   - -------------------------------------- 0.8/16.1 MB 2.4 MB/s eta 0:00:07
   -- ------------------------------------- 1.0/16.1 MB 1.8 MB/s eta 0:00:09
   --- ------------------------------------ 1.6/16.1 MB 1.9 MB/s eta 0:00:08
   ----- ---------------------------------- 2.4/16.1 MB 2.2 MB/s eta 0:00:07
   -------- ------------------------------- 3.4/16.1 MB 2.9 MB/s eta 0:00:05
   ---------- ----------------------------- 4.2/16.1 MB 2.9 MB/s eta 0:00:05
   ------------ --------------------------- 5.0/16.1 MB 3.1 MB/s eta 0:00:04
   --------------- ------------------------ 6.3/16.1 MB 3.4 MB/s eta 0:00:03
   ------------------ --------------------- 7.3/16.1 MB 3.7 MB/s eta 0:00:03
   ------------------- -------------------- 7.9/16.1 MB 3.6 MB/s eta 0:00:03
   ---------------------- ----------------- 8.9/16.1 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.1 MB 3.8 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.1 MB 3.8 MB/s eta 0:00:02
   ---------------------------- ----------- 11.3/16.1 MB 3.7 MB/s eta 0:00:02
   ----------------------------- ---------- 11.8/16.1 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 12.1/16.1 MB 3.5 MB/s eta 0:00:02
   -------------------------------- ------- 13.1/16.1 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\sujay\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\sujay\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.36)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sujay\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sujay\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.1.1)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\sujay\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker

In [8]:
# Connection details
username = "root"
password = "Type123."
host = "localhost"  # Replace with your host if not local
port = "3306"       # Default MySQL port
database = "bd"

# SQLAlchemy connection string
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"

In [9]:
#Create an engine
engine=create_engine(connection_string)

In [13]:
import pandas as pd
df= pd.read_sql("departments",con=engine)
df

   DepartmentID DepartmentName  ManagerID
0             1      Marketing          1
1             2          Sales          2
2             3             IT          3
3             4             HR          4

In [14]:
new_df=pd.read_csv("D:\\Week 2\\example.csv")

In [18]:
databd=pd.DataFrame(new_df)
table_name = "new"

In [19]:
try:
    # Write data to MySQL table
    new_df.to_sql(table_name, con=engine, if_exists="replace", index=False)
    print(f"Data successfully loaded into '{table_name}' table.")
except Exception as e:
    print(f"An error occurred: {e}")

Data successfully loaded into 'new' table.