In [6]:
print("Hello")

Hello

In [11]:
a=4+2
b=5*2
c=(50*2)/2
print(f'a={a}, b={b},c={c}')

a=6, b=10,c=50.0

In [12]:
a=23/2 #Classic division
b=23//2 #floor division
c=5%3 # Division remainder 
d= 15*2/3 #flooerd qutient * divisor +remainder
print(f'a={a}, b={b},c={c},d={d}')

a=11.5, b=11,c=2,d=10.0

In [15]:
a=5**3
b=2**4
print(f'a={a}, b={b}')

a=125, b=16

In [16]:
x

NameError: name 'x' is not defined

In [25]:
27*13+12/3

355.0

In [28]:
Age= 42
Flt = 23.13241
print(Age+ _)
print(round(Flt,3))

397.0
23.132

In [33]:
print('won\'t')
#wont print('won't')
print("won't")
print('"Hello WORLD!!!"')
#wont print(""Hello" WORLD!!!") 
print("\"Hello\" \n WORLD!!!")

won't
won't
"Hello WORLD!!!"
"Hello"
 WORLD!!!

In [36]:
print('this is\not second line')
print(r'this is\not second line')

this is
ot second line
this is\not second line

In [37]:
'h'+5* 'i'

'hiiiii'

In [40]:
lines= ('two lines inside the parentheses'
         'are printed in one line')
lines

'two lines inside the parenthesesare printed in one line'

In [52]:
x= 'abc'
x 'd'

SyntaxError: invalid syntax (838900448.py, line 2)

In [54]:
x + 'd'

'abcd'

In [60]:
numbers = '123456789'
print(f'numbers[0] = {numbers[0]}')
print(f'numbers[5] = {numbers[5]}')
print(f'numbers[-1] = {numbers[-1]}')
print(f'numbers[-3] = {numbers[-3]}')
print(f'numbers[0:2] = {numbers[0:2]}')
print(f'numbers[4:8] = {numbers[4:8]}')
print(f'numbers[:2] = {numbers[:2]}')
print(f'numbers[:32] = {numbers[:32]}')
print(f'numbers[32:] = {numbers[32:]}')

numbers[0] = 1
numbers[5] = 6
numbers[-1] = 9
numbers[-3] = 7
numbers[0:2] = 12
numbers[4:8] = 5678
numbers[:2] = 12
numbers[:32] = 123456789
numbers[32:] =

In [63]:
list1= ['Apple','Orange', 'Banana']
#Add Pineapple
list1.append('Pineapple') 
list1

['Apple', 'Orange', 'Banana', 'Pineapple']

In [64]:
list1[1:2]=[]
list1

['Apple', 'Banana', 'Pineapple']

In [67]:
x,y= 0,1
while x<10 :
    print(x,end=',')
    x,y =y ,x+y

0,1,1,2,3,5,8,

In [71]:
age =int(input("Enter age"))
if age<=13:
    print("CHILD")
elif age < 18 :
    print("Teen")
else:
    print("Adult")

Adult

In [72]:
for l in list1:
    print(l,len(l))

Apple 5
Banana 6
Pineapple 9

In [73]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [75]:
list2= ['Apple','Orange', 'Banana']
for i in range(len(list2)):
    print(i,list2[i])

0 Apple
1 Orange
2 Banana

In [76]:
numbers = [6, 15, 28, 17, 35, 40]

for num in numbers:
    if num == 28:
        print("Its 28")
        break  # Exit the loop when 20 is found
    print("Not found")

Not found
Not found
Its 28

In [77]:
for num in range(1, 8):
    if num % 2 == 0:
        continue  
    print(f"Odd number: {num}")

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7

In [14]:
for i in range(0,10):
    for x in (2,5):
        if x/2 == 1:
            print(x, end='.')
        break

2.2.2.2.2.2.2.2.2.2.

In [18]:
for i in range(0,10):
    for x in (2,5):
        if x/2 == 1:
            print(x, end='.')
        continue
    print(x)

2.5
2.5
2.5
2.5
2.5
2.5
2.5
2.5
2.5
2.5